@model biblio.Models.Emprunt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emprunt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEmprunt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEmprunt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRetour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abonné)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abonné.CombinedNomPrenom )
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livre.CombinedTitreAuteur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
